<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <title>Horas Extracurriculares</title>
   <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="style/styleCss.css"/>-->
 
</head>

<nav class="navbar navbar-dark bg-primary">
 <div>
  <a class="btn btn-primary" href="index" ><h2>Home</h2></a>
    <!-- <a class="btn btn-primary" href="contatos" ><h2>Contatos</h2></a>
      <a class="btn btn-primary" href="sobre" ><h2>Sobre</h2></a> -->
 </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
  </form>
</nav>


  <br><h4><a href="/cadastrarDoc" class="btn btn-primary">Cadastrar Cursos</a></h4>
  <div class="container">
      <h3>Lista de cursos cadastrados</h3>
      <hr>
  </div>

<div class="container">
  <table class="table table-hover">

    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome do Arquivo</th>
        <th scope="col">Atividades Realizadas</th>
        <th scope="col">Carga Horaria</th>
        <th scope="col">Status</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="document : ${documents}">
        <th scope="row" th:text="${document.id}"/th> 
          <td><a th:href="@{/{id}(id = ${document.id}) }"><span th:text="${document.name}"></span></a></td>
        <!-- //  <td> <a th:href="${(#mvc.url('DC#detalhesDocDocument').arg(0, document.id)).build()}> th:text="${document.name}"></a></td>  -->
            <td th:text="${document.activity}"/td> 
              <td th:text="${document.numberHours}"/td> 
                <td th:text="${document.status}"/td> 
                  <td><i class="bi bi-trash"> <a  class="btn btn-outline-danger" th:href="@{/deletar(id = ${document.id}) }"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg><span th:text="Deletar"></i></td>
              

      </tr>
    </tbody>
  </table>
</div>



</html>